#nav-toggle {
    position: absolute;
    top: -100px;
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: $font-stack;
    padding: 0 5%;
    height: 100px;
    background-color: $nav-fot;

    .logo {
        height: 80%;
        src: url("");
        float: left;
        width: 40%;
        display: flex;
        align-items: center;
    }

    .links {
        float: right;
        padding: 0;
        margin: 0;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            list-style: none;
        }

        a {
            display: block;
            padding: 1em;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            text-decoration: none;

            &:hover {
                color: $readmore;
            }
        }
    }

    .icon-burger {
        display: none;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);

        .line {
            width: 30px;
            height: 5px;
            background-color: #fff;
            margin: 5px;
            border-radius: 3px;
        }
    }
}

@media screen and (max-width: 811px) {
    nav {
        .logo {
            float: none;
            width: auto;
            justify-content: center;
        }

        .links {
            float: none;
            position: fixed;
            z-index: 9;
            left: 0;
            right: 0;
            top: 100px;
            bottom: 100%;
            width: auto;
            height: auto;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: rgba(0, 0, 0, .8);
            overflow: hidden;
            box-sizing: border-box;

            a {
                font-size: 20px;
            }
        }

        & :checked {
            ~ {
                .links {
                    bottom: 0;
                }
            }
        }

        .icon-burger {
            display: block;
        }
    }
}
