
.btnn {
	a {
		width: 180px;
		height: 35px;
		line-height: 35px;
		border: 2px solid $readmore;
		color: $readmore;
		display: block;
		margin: 25px auto 0;
		text-align: center;
	}
}
.banner_image {
	background: url('../images/p31.jpg') no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner_content {
	text-align: center;
	color: #fff;
	h1 {
		text-transform: uppercase;
		line-height: 38px;
		margin-bottom: 15px;
		span {
			color: $readmore;
		}
	}
}
.services {
	text-align: center;
	padding: 5% 10%;
    
    h1,p{
    color: black;
    }
}
.diff_services {
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.diff_services_item {
		width: 30%;
		img {
			width: 100%;
			margin-bottom: 25px;
		}
		h3 {
			color: $readmore;
			margin-bottom: 15px;
		}
	}
}
@media (max-width: 720px) {
	.banner_content {
		margin-top: 35px;
	}
	.diff_services {
		display: flex;
		flex-direction: column;
		.diff_services_item {
			width: 90%;
		}
	}
}
