$readmore : #d41850;
$nav-fot : #2b3636;
$font-stack: 'Poppins';
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}
@import "./sidebar";
@import"./dash";
@import"./our-programs";
@import "./header";
@import"./home";
@import"./footer";
@import"./contactus";

