.connexionbtn {
    color: white;
    background-color: $readmore;
    width: 10%;
    height: 30px;
    border: none;
}

.dash-content {
    overflow-y: auto;

    #adduser1 {
        color: white;
        background-color: $readmore;
        width: 10%;
        height: 30px;
        border: none;
    }

    #adduser2 {
        color: white;
        background-color: $readmore;
        width: 10%;
        height: 30px;
        border: none;
    }

    #deluser {
        margin-left: 5px;
        color: white;
        background-color: rgb(19, 186, 241);
        width: 10%;
        height: 30px;
        border: none;
    }

    .contenuu {
        margin-top: 5px;
        margin-left: 120px;
        margin-right: 40px;

        .contenuu-nav {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            align-items: center;
            justify-content: space-between;
            margin: 2rem 0;
        }

        h2 {

            color: black;
        }

        .bg-white {
            background-color: #fff;
        }

        .c-white {
            color: #fff;
        }

        .staf-stat {
            background-color: #6DB1FF;
            color: #fff;
        }

        .c-staf {
            color: #6DB1FF;
        }

        .etud-stat {
            background-color: #00C86F;
            color: #fff;
        }

        .c-etud {
            color: #00C86F;
        }

        .class-stat {
            background-color: #FFBA05;
            color: #fff;
        }

        .c-class {
            color: #FFBA05;
        }

        .campus-stat {
            background-color: #F16165;
            color: #fff;
        }

        .c-campus {
            color: #F16165;
        }

        .grid {
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
        }

        .grid:not(:last-child) {
            margin-bottom: 2rem;
        }

        .static {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .75rem 1.5rem;
            border-radius: 4px;

            .l {
                display: flex;
                flex-direction: column;
                justify-content: center;

                span {
                    font-size: 1.2rem;
                    font-weight: 700;

                    &:not(:last-child) {
                        font-size: 1.6rem;
                        letter-spacing: 2px;
                    }
                }
            }

            .icon {
                background: #fff;
                height: 5rem;
                width: 5rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 5rem 5rem 5rem rgba(74, 83, 90, 0.2);

                i {
                    font-size: 1.6rem;
                }
            }
        }

        .filter {
            display: flex;
            margin-bottom: 1.5rem;


            .filter-search {
                position: relative;
                left: 500px;

                #search {
                    width: 300px;
                    height: 30px;
                    color: black;
                }
            }
        }

        .painel {
            background: #fff;
            color: #000000;
            border-radius: 5px;
            padding: .5rem 1rem;
        }

        .painel-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #dae0e5;
            padding: .5rem 0;
        }

        .painel-header .painel-title {
            /*             font-size: 1.4rem;
 */
            color: #9fadba;
        }

        .painel-body {
            margin: 1.5rem 0;
            /*             font-size: 1.4rem;
 */
            overflow: auto;
        }

        .painel-footer {
            border-top: 1px solid #dae0e5;
            font-size: 1.4rem;
            padding: .5rem 0;
        }

        table {
            width: 95%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: .6rem;
            text-align: left;
            border-bottom: 1px solid #dae0e5;
            color: #53585d;
        }

        tr:hover {
            background-color: #f5f6f8;
        }

        .decoration tr:nth-child(even) {
            background-color: #f5f6f8;
        }

    }
}

.form {
    width: 100%;
    border-radius: 10px;
    background: $nav-fot;
}

.form-inline {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.group:not(:last-child) {
    margin-bottom: 1rem;
}

.group label {
    font-weight: 500;
    margin-bottom: .5rem;
}

.group input,
.group select,
.group textarea {
    padding: 1rem;
    border: 1px solid var(--gray-light-2);
    outline-color: var(--gray-light-3);
    border-radius: 4px;
    /*     font-size: 1.5rem;
 */
}

.modal.is-visible {
    color: white;
    visibility: hidden;
    opacity: 1;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(63, 79, 104, 0.5);
    filter: blur();
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal-dialog {

    width: 40%;
    background: var(--white);
    border-radius: 4px;
    border: 1px solid var(--gray-light-1);
}

.modal-header {
    border-bottom: 1px solid var(--gray-light-1);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-content {
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--gray-light-1);
}

.modal-footer {
    padding: 1rem 2rem;
}

@media screen and (max-width: 678px) {

    .modal-dialog {
        width: 90%
    }

    .hidden {
        display: none;
    }

    /*   html {
        font-size: 70%;
    } */

    .dash-content {
        #adduser1 {
            display: none;
        }

        #adduser2 {
            margin-left: 5px;
            width: 45%;
        }

        #deluser {
            width: 45%;
        }

        .contenuu {
            width: 100%;
            margin-top: 5px;
            margin-left: 12px;
            margin-right: 12px;

            .filter-search {
                display: none;
            }

            .grid {
                width: 93%;
                grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
            }
        }

    }
}

@media screen and (max-width: 983px) {

    .modal-dialog {
        width: 90%;
    }

    .hidden {
        display: none;
    }

    html {
        font-size: 60%;
    }

    .dash-content {
        #adduser1 {
            display: none;
        }

        #adduser2 {
            margin-left: 5px;
            width: 45%;
        }

        #deluser {
            width: 45%;
        }

        .contenuu {
            width: 100%;
            margin-top: 5px;
            margin-left: 12px;
            margin-right: 12px;

            .filter-search {
                display: none;
            }

            .grid {
                width: 93%;
                grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
            }
        }

    }
}