.container {
    margin: 130px;

    h1 {
        color: #646464;
        font-size: 3rem;
        margin-bottom: 1.5rem;
        padding: 20px;
        text-align: center;
    }

    .section {
        display: flex;
        padding: 80px 0px;
        align-items: center;

        p {
            color: black;
            width: 40%;
            font-size: 20px;
            text-align: start;
        }

        img {
            width: 100%;
            object-fit: cover;
        }
    }

}

.section:nth-child(3) div:nth-child(2) {
    text-align: end;
}

.section:nth-child(2n) div:nth-child(1) {
    width: 70%;
}

.section:nth-child(2n) p {
    width: 70%;
}

.section:nth-child(1n) div:nth-child(1) {
    width: 70%;
}

.section:nth-child(1n) p {
    width: 70%;
}

@media only screen and (max-width: 900px) {
    .container {

        .section {
            display: block;

            p {
                width: 100%;
            }

            img {
                width: 100%;
            }
        }

    }
}