.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    z-index: 1;
    transition: 300ms ease;

    &:hover {
        width: 20rem;
        transition: 300ms ease;
    }
}

.log_out {
    position: relative;
    top: 60%;
    bottom: 0;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: $nav-fot;
}

.nav-item {
    width: 100%;

}

.aze {
    position: relative;
    top: 200px;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;

    svg {
        fill: white;
        width: 2em;
        min-width: 2rem;
        margin: 0 1.5rem;
    }

}


.link-text {
    display: none;
    margin-left: 1rem;
    color: white;

}

.navbar:hover .link-text {
    display: block;

}

@media only screen and (max-width: 900px) {
    .aze {
        position: relative;
        top: 0;
    }

    .navbar-list {
        flex-direction: row;

    }

    .navbar:hover {
        width: 100vw;
    }

    .nav-link svg {
        width: 0em;
        min-width: 2rem;
        margin: auto;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar:hover .link-text {
        display: none;

    }

    main {
        margin-left: 0;
    }

    .log_out {
        position: relative;
        top: 0;
        bottom: 0;
    }
}